<footer>
    <div class="copyright">
        trivia fr API © 2020-2021 <a href="https://discord.gg/hsKUTeu9SW" title="KSH Developer">KSH</a> | <a href="https://kotanimefr.000webhostapp.com/" title="Ussopia Discord Bot">Ussopia</a>
    </div>
</footer>