<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Trivia API - Les meilleures question françaises</title>
    <meta name="description" content="API de Trivia en français gratuite et open-source. Chaque jour de nouvelles question ajoutés par la communauté." />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Trivia API - Les meilleures question françaises">
    <meta name="twitter:description" content="API de Trivia en français gratuite et open-source. Chaque jour de nouvelles blagues ajoutés par la communauté.">
    <meta name="twitter:creator" content=@K5Ksh">
    <meta name="twitter:image" content="https://github.com/Ussopia/Trivia-Api/blob/main/image/38DA0201-D487-4F9F-9BE8-C56F05372B74.jpeg" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Trivia API - Les meilleures question françaises" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.blagues-api.fr/" />
    <meta property="og:image" content="https://github.com/Ussopia/Trivia-Api/blob/main/image/38DA0201-D487-4F9F-9BE8-C56F05372B74.jpeg" />
    <meta property="og:description" content="API de Trivia en français gratuite et open-source. Chaque jour de nouvelles question ajoutés par la communauté." />
    <meta property="og:site_name" content="Trivia API" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link href="/files/style.css" rel="stylesheet" type="text/css" />
</head>
